<header>
	<nav>
		<ul class="nav_ul">
			<li class="nav_li">
				<a href=" {{path('app_home')}} ">Accueil</a>
			</li>
			<li class="nav_li">
				<a href=" {{path('app_project')}} ">Projets</a>
			</li>
			<li class="nav_li">
				<a href=" {{ path('app_register')}} ">Inscription</a>
			</li>
			<li class="nav_li">
				<a href=" {{path('app_login')}} ">Connexion</a>
			</li>
		</ul>
	</nav>
	<div class="icon_burger">
		<i class="fa-solid fa-bars"></i>
	</div>
	<div class="icon_cross">
		<i class="fa-solid fa-xmark"></i>
	</div>
</header>

<div class="burger">
	<nav>
		<ul>
			<li class="nav_li">
				<a href=" {{path('app_home')}} ">Accueil</a>
			</li>
			<li class="nav_li">
				<a href=" {{path('app_project')}} ">Projets</a>
			</li>
			<li class="nav_li">
				<a href=" {{path('app_register')}} ">Inscription</a>
			</li>
			<li class="nav_li">
				<a href=" {{path('app_login')}} ">Connexion</a>
			</li>
		</ul>
	</nav>
</div>
